# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Pasta de resultados (será montada como um volume)
results/

# Metadados de Git e VSCode
.git/
.vscode/

# Arquivos do Docker
Dockerfile
.dockerignore